/* Dress-up */
#container {
    display: flex;
    flex-flow: row nowrap;
    margin: 24px auto;
    max-width: 640px;
  }
  
  #model {
    height: 512px;
    position: relative;
    width: 256px;
  
    #pantsImg,
    #shirtImg,
    #shoesImg {
      left: 0;
      position: absolute;
      top: 0;
    }
  
    #pantsImg {
      left: 81px;
      top: 233px;
    }
  
    #shirtImg {
      left: 67px;
      top: 95px;
    }
  
    #shoesImg {
      left: 84px;
      top: 450px;
    }
  }
  
  #sliderPicker {
    border: solid 2px #999;
    border-radius: 8px;
    font: normal 14px/1.2 sans-serif;
    height: auto;
    margin-top: 80px;
    max-height: 250px;
    padding: 24px;
    p {
      font-size: 18px;
      font-weight: bold;
      line-height: 2;
    }
  
    #colorPicker {
      padding: 0 24px;
    }
  
    ul[id="colorTarget"] {
      display: flex;
      flex-flow: row nowrap;
      list-style: none;
      margin: 0 0 12px;
      padding: 0;
  
      li {
        margin-right: 1em;
      }
    }
  }

  .color-picker div,
  .category-picker div {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px 0;
    cursor: pointer;
  }

  .color-picker .blue { background-color: #3b82f6; }
  .color-picker .green { background-color: #22c55e; }
  .color-picker .yellow { background-color: #eab308; }
  .color-picker .red { background-color: #ef4444; }
  .color-picker .purple { background-color: #8b5cf6; }
  .color-picker .pink { background-color: #ec4899; }
